/* global */
:root {
	--light-color: #fdfdfd;
	--dark-color: rgb(5, 5, 5);
	--padding-amt: 16px;
    background-color: var(--light-color);
    color: var(--dark-color);
}

/* container layout */
body {
    /* background-color: var(--light-color);
    color: var(--dark-color); */
    margin: 0;
}

header {
    width: 100%;
    max-width: 1200px;
}

header img {
    display: block;
    margin: 48px auto 32px auto;
    max-width: 80vw;
}

main {
    width: 100%;
    max-width: 1200px;
}

main ul {
    width: inherit;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

picture img {
    width: calc(100% - var(--padding-amt) * 2);
    padding: var(--padding-amt);
}

ul li p {
    margin: 0 auto;
    text-align: center;
    font-size: var(--main-font-size);
}

ul#series {
    padding-bottom: var(--padding-amt);
}

article {
    padding: 0 32px;
    width: 85vw; /* a little wider than the header image since the text usually doesn't fill up the whole line */
    max-width: 800px;
    margin: 0 auto;
}

article p {
    font-size: var(--secondary-font-size);
    margin: 0 0 var(--padding-amt) 0;
}

@media (min-width: 1200px) {
    body {
        background-color: var(--dark-color);
    }
}

/* typography */

:root {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  --main-font-size: 28px;
  --secondary-font-size: 20px;
}


a {
    color: var(--dark-color);
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

/* light theme adjustments */
@media (prefers-color-scheme: light) {
	
}

/* dark theme adjustments */
@media (prefers-color-scheme: dark) {
	:root {
		background: var(--dark-color);
		color: var(--light-color)
	}

	a {
		color: var(--light-color)
	}

	header {
        filter: invert(100%);
    }
}