/* global */
:root {
	--light-color: #fdfdfd;
	--dark-color: rgb(5, 5, 5);
	--spacing-amt: 16px;
    background-color: var(--light-color);
    color: var(--dark-color);
}

/* container layout */
body {
    /* background-color: var(--light-color);
    color: var(--dark-color); */
    margin: 0;
}

header, nav {
    width: 100%;
    max-width: 80vw;
    margin: 0 auto;
}

header img {
    display: block;
    margin: calc(var(--spacing-amt)*3) auto calc(var(--spacing-amt)*2) auto;
    max-width: 80vw;
}

nav {
    margin-bottom: var(--spacing-amt);
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: var(--spacing-amt);
}

nav ul li {
    display: inline;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    width: inherit;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

picture img {
    width: calc(100% - var(--spacing-amt) * 2);
    padding: 0 var(--spacing-amt) var(--spacing-amt) var(--spacing-amt);
}

ul li p {
    margin: 0 auto;
    text-align: center;
    font-size: var(--main-font-size);
}

ul#series {
    padding-bottom: var(--spacing-amt);
}

article {
    padding: 0 32px;
    width: 85vw; /* a little wider than the header image since the text usually doesn't fill up the whole line */
    max-width: 800px;
    margin: 0 auto;
}

article p {
    font-size: var(--secondary-font-size);
    margin: 0 0 var(--spacing-amt) 0;
}

/* typography */

:root {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  --main-font-size: 24px;
  --secondary-font-size: 20px;
}

a {
    color: var(--dark-color);
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* light theme adjustments */
@media (prefers-color-scheme: light) {
	
}

/* dark theme adjustments */
@media (prefers-color-scheme: dark) {
	:root {
		background: var(--dark-color);
		color: var(--light-color)
	}

	a {
		color: var(--light-color)
	}

	header {
        filter: invert(100%);
    }
}

/* wider layout */

@media (min-width: 1200px) {

    :root {
        --main-font-size: 28px;
    }

    nav {
        display: flex;
        gap: 1rem;
        justify-content: center;
    }
  
    nav ul {
        display: contents; /* removes ul from layout, items flow directly into nav */
    }
  
    nav li {
        list-style: none;
    }
    
    .gallery {
        column-count: 2;
        column-gap: 1.5rem;
    }

    .gallery img {
        width: 100%;
        height: auto;
        margin-bottom: var(--spacing-amt);
        padding: 0;
        display: block;
    }

}